<!-- Extend base.html to inherit basic layout: navbar, footer -->
{% extends "base.html" %}
<!-- Set active_page, such that current menu is active automatically without hard code -->
{% set active_page = "activity" %}
<!-- Set title, template will read title for each html page -->
{% block title %} {{title}} {% endblock %}

<!-- Each page will render differently according to the data to be displayed. -->
{% block content %}
<div class = "container">

    <!-- Try to seperate content from html: write webpage content in aboutPageContents -->
    {% for content in activityPageContents %}
    <div class = "card border-0">
        <div class="card-body">
            <h5 class="card-title"> {{content["Title"]}}</h5>
            <p class="card-text">{{ content["Text"] }}</p>            

        </div>

    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}